.openBtn {
    font-size: 16px;
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    border-color: transparent ;
    background-color: rgba(0, 50, 255, 0.5); 
  transition: background-color 0.3s ease; 
  margin-top: 10px;
  }
  .openBtn:hover,
  .openBtn:focus {
  background-color: rgba(0, 50, 255, 0.8); 
  }